<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>WebSite</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css");
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body style="overflow:hidden;" oncontextmenu="return false;">
        <div id="page">
            <div id="header">
                <p class="site-title" style="float:left">FundusWeb</p>
                <div style="float:right">Welcome, UserName</div>
                <div id="messageBar" style="background-color:rgb(234, 234, 234); position:absolute; right:0; width:32em; height:100%"></div>
            </div>
            <div id="main">
                <!-- Panel for fundus images -->
                <div id="imageBar" style="border-right:1px solid black; border-top:1px solid black; border-bottom:1px solid black;">
                    <input type="file" id="files" accept="image/gif, image/jpeg, image/png, image/tiff, image/tiff-fx, image/bmp" name="files[]" />
                    <button id="beginUploadButton">Upload Image</button>

                    <div id="imagePane"></div>

                    <!-- Panel for action history buttons -->
                    <div style="display:inline-block">
                        <button id="undoButton">Undo</button>
                        <button id="redoButton">Redo</button>
                        <button title="Resets the application to its original state" id="resetButton">Reset</button>
                    </div>
                </div>

                <div id="imageView" style="position:absolute; left:0; right:300px; height:100%; border:1px solid black;">
                    <canvas id="canvas" style="position:absolute; left:0; top:0;"></canvas> 
                </div>

                <div id="menuPanel" style="background-color: brown; overflow:hidden; position:relative; top:0; bottom:0; width:200px; right:0">

                </div>
            </div>
            <div id="messageBox"></div>
        </div>
    </body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/page")
    <script>
        WebPage = new Page();
        WebPage.init();
    </script>
</html>